pipeline/prodpipeline.json
{
	"name": "prodpipeline",
	"properties": {
		"activities": [
			{
				"name": "ExecutemanagerPipeline",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipelinemanager",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Executeon selectedfilesPipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecutemanagerPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "OnlySelectedfiles",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_filename": {
							"value": "@activity('ExecutemanagerPipeline').output",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}